/* Body Styles */

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

header {
    overflow: hidden;
    background: black;
    padding: .7em 0;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
}

h2,
p {
  text-align: center;
}

h2 {
  font-size: 1.3em;
}

p {
  color: grey;
}

label {
  display: block;
  margin: 10px 0 0px 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 15px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  background: rgba(0,0,0,0.05);
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

input[class="zip"] {
  width: 50%;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: solid 1.5px navy;
}

select {
  height: 3em;
}

input[type=checkbox],
input[type=radio] {
  float: left;
  margin-right: 10px;
}

textarea {
  width: 100%;
  height: 100px;
}

button {
  width: 100%;
  font-size: 1em;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

footer {
  padding: 30px;
  text-align: center;
  font-size: .8em;
  font-style: italic;
  color: grey;
}

::placeholder {
  text-align: right;
  font-size: .8em;
  font-weight: lighter;
  font-style: italic;
  color: grey;
  padding-right: 5px;
}

/* Class Styles */

.main-content {
  width: 90%;
  margin: 0 auto;
}

.preamble {
  margin: 2em auto;
  border-bottom: double 5px black;
}

.form-header {
  text-align: left;
}

.prompt {
  text-align: left;
}

.contact-information {
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: solid 2px black;
}

.newsletter-primary,
.newsletter-secondary {
  margin-bottom: 30px;
}

.radio {
  margin-top: 10px;
}

.newsletter {
  padding-bottom: 20px;
}

@media (min-width: 796px) {

  .main-content {
    max-width: 800px;
  }

  .input {
    display: flex;
    padding: .5em;
  }

  label[class=top] {
    min-width: 150px;
    padding-top: 10px;
  }

  input[class="zip"] {
    width: 25%;
  }

}
