/* Body Styles */

html,
body {
  margin: 0;
  padding: 0;
}

header {
    overflow: hidden;
    background: black;
    padding: .7em 0;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
}

h2,
p {
  text-align: center;
}

h2 {
  font-size: 1.3em;
}

p {
  color: grey;
}

label {
  display: block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Class Styles */

.main-content {
  width: 90%;
  margin: 0 auto;
}

.preamble {
  margin: 2em auto;
  border-bottom: double 5px black;
}

.form-header {
  text-align: left;
}

.prompt {
  text-align: left;
}
